{% extends "layout.html" %}

{% block title %}EGET - Buy & Sell Cars{% endblock %}

{% block content %}

<section class="hero">

    <div class="overlay">

        <div class="hero-text">

            <h1>Find Your Next Car on EGET</h1>

            <p>
                Buy and sell cars across Ghana.
                Get trusted roadside assistance from mechanics,
                auto electricians, tyre specialists and key experts.
            </p>

            <div class="hero-buttons">

                <a href="/search" class="btn-yellow">
                    Browse Cars
                </a>

                <a href="/add-car" class="btn-black">
                    Sell Your Car
                </a>

            </div>

        </div>

    </div>

</section>


<section class="search-box section">

<h2>Search Vehicles</h2>

<form>

<select id="brand">

<option>Select Brand</option>

</select>

<select id="model">

<option>Select Model</option>

</select>

<select id="year">

<option>Select Year</option>

</select>

<select>

<option>Colour</option>

<option>Black</option>
<option>White</option>
<option>Silver</option>
<option>Grey</option>
<option>Blue</option>
<option>Red</option>

</select>

<button>Search</button>

</form>

</section>

{% endblock %}